#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.store-name{
text-align: center;
font-size: 3rem;
color: orange
}

img {
max-width: 25%;
padding-bottom: 100px;
}

.item-description{

color:red;
}
.description-container{
display:flex;
}